:root{
    --reactDarkColor: #282C34;
    --pinkToneContrast: #E63946;
    --reactBlueColor: #61DAFB
}

*{
    list-style: none;
}

.cardContainer{
    display: flex;
    min-width: 500px;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid var(--reactBlueColor);
    background-color: var(--reactDarkColor);
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    margin: 5px;
}

.image{
    border-radius: 10px;

    border: 5px solid none;
}

.descriptionContainer{
    align-items: center;
    justify-content: center;
    font-size:small;

}


.field{
    font-weight: bolder;
    font-size: x-large;
}

.value{
    font-size: large;
}